body {
    text-align: center;
    color: black;
    background-image: url("images/hourglass.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 30px auto; 
  gap: 10px
}

.menu a {
  color: black;
  font-weight: 600;
}

.link {
  border-radius: 10px;
  height: 25px;
}

.links {
  height: 40px;
  width: 140px;
  font-size: larger;
  background-color: #a3adb8;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 30px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  h1, img {
    height: 3em;
    width: auto;
    display: inline-block;
    justify-content: center;
  }

  .bio {
    font-weight: 600;
    font-size: large;
  }
